# Base de datos
CONEXION_STRING_DATABASE=
CONEXION_STRING_DATABASE_DEVELOPMENT=

# Autenticación y Seguridad
SECRET_KEY=
SECRET_HASH=

# Servidor
HOST=http://localhost:4000
PORT=4000

# Email
PRIVATE_EMAIL=
PRIVATE_PASSWORD=
